@font-face {
  font-family: "fullpack";
  src: url("full Pack 2025.ttf");
}

body {
  font-family: fullpack;
  background-color: #212121;
  color:white;
}

#entity {
  text-align:center;    
}

#display {
  display: inline-block;
  border: 1px solid white;
  width: 500px;
  text-align:center;
  background-color: #bdbabf;
}

#display img {
  max-width:490px;
  max-height:490px;
  margin: 5px;
}

#form {
  text-align:center;
}

#form #link-input {
  width:50%;
}


#form .button {
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 5px 25px;
  border-width: 4px;
  border-color:#7a36b3;
  background-color:#e77ff5;
  color: white;
  font-weight:bold;
  font-style:italic;
  font-family: fullpack;
}

#form .button:active {
  background-color:#974ed4;
}